<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard <small>Statistics Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>

<div class="jumbotron">
    <h1>API Docs</h1>
    <p class="lead">...</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Integration</h2>
        <p>
            Benutzen Sie API Client library.
            Das ist die schnellste Möglichkeit die API direkt einzusetzen ohne eigenes Code zu schreiben.
        </p>
        <a class="btn" href="/">Official libraries →</a>
    </div>
    <div class="col-md-3">
        <h2>User guide</h2>
        <p>
            User guides gibt Ihnen detaillierte Informationen über die Anwendung der API. Wir empfehlen diese,
            wenn Sie gerade erst anfangen.
        </p>
        <a class="btn" href="/">Pflanzen abrufen →</a><br />
        <a class="btn" href="/">Pflanze speichern →</a><br />

    </div>
    <div class="col-md-3">
        <h2>API reference</h2>
        <p>Dokumentation jeder HTTP-Anfrage des REST-API.</p>
        <a class="btn" href="/">Overview →</a><br />
        <a class="btn" href="/">Accounts →</a><br />
        <a class="btn" href="/">Pflanzen →</a><br />

    </div>
    <div class="col-md-3">
        <h2>Tools</h2>
        <p>Wichtige Links und Tools.</p>
        <a class="btn" href="http://jsoneditoronline.org/" target="_blank">JSON Editor Online →</a><br />
    </div>
</div>
